<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>갈만해?</title>
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/search.css">
  <link rel="stylesheet" href="/css/overlay.css">
  <link rel="stylesheet" href="/css/button.css">
  <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>

<div id="search-container">
  <input id="keyword" placeholder="장소를 입력하세요" type="text">
  <button>갈만해?</button>
  <div id="search-results"></div> <!-- 검색 결과를 표시할 영역 -->
</div>

<div id="map"></div>
<div id="placeInfoContainer"></div> <!-- 오른쪽 정보 창 영역 -->

<!-- 오른쪽 하단에 위치할 버튼 -->
<button id="current-location-button">내 위치로</button>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script> <!-- axios 라이브러리 로드 -->
<script
    th:src="'//dapi.kakao.com/v2/maps/sdk.js?appkey=' + ${appKey} + '&libraries=services'"></script>
<script type="module" src="/js/main.js"></script> <!-- 분리된 JavaScript 파일 로드 -->
</body>
</html>
